<html>
    <head>
        Welcome to the price tracker for amazon and flipkart
    </head>
    <body>
    <div aria-label="Close">
<form action="/singletracker" method="POST">
    <input type="text" name="url">URL</input><br>
    <input type="radio" id="amazon" name="tracker_name" value="1">
    <label for="amazon">Amazon</label><br>
    <input type="radio" id="flipkart" name="tracker_name" value="0">
    <label for="flipkart">Flipkart</label><br>
    <input type="submit" value="Submit">
</div>
</form>
    </body>
</html>